body {
    font-family: "Lucida Console", "Courier New", monospace;
    margin: 0;
    height: 100%;
}

.logo {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 400px;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
}

.bio {
    text-align: center;
    padding: 50px;
    margin: 50px;
    max-width: 700px;
    margin: auto;
}

.websiteInProgress {
    text-transform: uppercase;
    font-weight: bold;
    margin: auto;
    text-align: center;
}