body {
    font-family: "Lucida Console", "Courier New", monospace;
}

.center {
    display: block;
    margin: auto;
}

.resize {
    width: 400px;
    height: auto;
}

.topPadding {
    padding-top: 50px;
}

.bio {
    text-align: center;
    padding: 50px;
    margin: 50px;
    max-width: 550px;
    margin: auto;
}